#pragma code_page(65001)

#include "kexplorer-version.h"
#include "winres.h"

LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL

1 RT_MANIFEST "kexplorer.manifest"

1 ICON "resources/tux.ico"

VS_VERSION_INFO VERSIONINFO
 FILEVERSION KX_VERSION_RC
 PRODUCTVERSION KX_VERSION_RC
 FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
 FILEFLAGS 0x1L
#else
 FILEFLAGS 0x0L
#endif
 FILEOS 0x40004L
 FILETYPE 0x1L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "000004b0"
        BEGIN
            VALUE "CompanyName", KX_ORGANIZATION_NAME
            VALUE "FileDescription", KX_APPLICATION_NAME
            VALUE "FileVersion", KX_VERSION_STR
            VALUE "InternalName", "kexplorer.exe"
            VALUE "LegalCopyright", KX_COPYRIGHT
            VALUE "OriginalFilename", "kexplorer.exe"
            VALUE "ProductName", "Kernel Explorer"
            VALUE "ProductVersion", KX_VERSION_STR
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0, 1200
    END
END